/*
  Mobile Style 
*/

@font-face {
  font-family: Pixles;
  src: url(../media/HigherPixels.ttf);
}

html {
  line-height: 3em;
}

body {
  width: 90%;
  padding: 1.2em;
  background-color: #6a8f84;
  margin: auto;
  text-align: center;
}

h1{
  border: black;
  border-width: 3px;
  border-style: solid;
  text-align: center;
  font-size: 4em;
  font-family: Pixles;
  font-weight: 200;
}

h2{
  width: 60%;
  height: 20%;
  padding-bottom: 0%;
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 1.3em;
  font-family: Pixles;
  font-weight: 200;
}

h3{
  padding: -1.5em;
  display: inline-block;
  text-align: center;
  font-size: 1em;
  font-family: Pixles;
  font-weight: 100;
}

label{
  font-family: 'Times New Roman', Times, serif;
}

#pyramid_logo {
  max-width: 65% ;
  height: auto;
}


.logo_2{
  background-image: url(../media/8bit_pyramid.png);  
  background-position: center;
  background-clip: content-box;
  background-repeat: no-repeat;
  display: block;
  background-size: contain;
}

.submit {
  background-image: url(../media/eye_submit.png);  
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  background-size: contain;
}


#form_box {
  background-color: #8bc9b6;
  border: black;
  border-width: 3px;
  border-style: solid;
}

#hidden {
  display: none;
  background-color: #c7fded;
  border: black;
  border-width: 3px;
  border-style: solid;
}

#submit_button{
  padding: 1em;
}

/*
  Desktop Style
*/
@media screen and (min-width: 768px) {

  .logo_2{
    visibility: hidden;
    background-image: url(../media/8bit_pyramid.png);  
    background-position: center;
    background-clip: content-box;
    background-repeat: no-repeat;
    background-size: contain;
  }

.info {
  width: 100%;
  padding: .1em;
  display: grid;
  grid-template-columns: 30% 60%;
  grid-template-rows: auto;
  grid-template-areas: 
    "logo1 title"
    "banking tagline";
}

.logo_1 {
 grid-area: logo1;
 background-color: #6a8f84;
}

.title {
  padding-right: 10px;
  grid-area: title;
  background-color: #6a8f84;
}

.banking {
  visibility: visible;
  grid-area: banking;
  color: white;
  background-color: #02030373;
}

.tagline{
  visibility: visible;
  grid-area: tagline;
  color: white;
  background-color: #02030373;
}



body {
  width: 90%;
  padding: 1.2em;
  background-color: #496b61;
  margin: auto;
  text-align: center;
}

h1{
  border: black;
  padding: .2em;
  border-width: 4px;
  border-style: solid;
  text-align: center;
  font-size: 6em;
  font-family: Pixles;
  font-weight: 200;
}

h2{
  padding: 1em;
  text-align: center;
  font-size: 1em;
  font-family: Pixles;
  font-weight: 50;
  display: inline;
}

h3{
  
  padding: 2.5em;
  text-align: center;
  font-size: 1.5em;
  font-family: Pixles;
  font-weight: 50;
  display: flow-root;
}

label{
  font-family: 'Times New Roman', Times, serif;
}

#pyramid_logo {
  scale: 100%;
  display: inline;
}

div {



  .submit {
    background-image: url(../media/eye_submit.png);  
    background-position: center;
    background-repeat: no-repeat;
    display: inline block;
    background-size: contain;
  }


}

#form_box {
  background-color: #c9998b;
  border: black;
  border-width: 3px;
  border-style: solid;
}

#hidden {
  display: none;
  background-color: #fde7c7;
  border: black;
  border-width: 3px;
  border-style: solid;
}

#submit_button{
  padding: 1em;
}



}