/*
  Mobile Style 
*/

@font-face {
  font-family: Pixles;
  src: url(../media/HigherPixels.ttf);
}

html {
  line-height: 3em;
}

p {
  font-family: Pixles;
  font-size: 1em;
  line-height: 1.5em;
}

body {
  width: 90%;
  padding: 1.2em;
  background-color: #6a8f84;
  margin: auto;
  text-align: center;
}

h1{
  border: black;
  border-width: 3px;
  border-style: solid;
  text-align: center;
  font-size: 4em;
  font-family: Pixles;
  font-weight: 200;
}

h2{
  width: 60%;
  height: 20%;
  padding-bottom: 0%;
  padding-top: 10%;
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 1.3em;
  font-family: Pixles;
  font-weight: 200;
}

h3{
  padding: 1.5em;
  display: inline-block;
  text-align: center;
  font-size: 1em;
  font-family: Pixles;
  font-weight: 100;
}

label{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#pyramid_logo {
  max-width: 65% ;
  height: auto;
}


.logo_2{
  background-image: url(../media/8bit_pyramid.png);  
  background-position: center;
  background-clip: content-box;
  background-repeat: no-repeat;
  display: block;
  background-size: contain;
}

#submit_button {
  background-color:#80808050;
  padding: 1em;
  color: white;
  font-size: 1.3em;
  font-family: Pixles;
  font-weight: 200;
  
}

.submit_graphic {
  background-image: url(../media/eye_submit.png);  
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  background-size: contain; 
  padding: 100px;
  padding-top: 30px;
}


#form_box {
  background-color: #8bc9b6;
  border: black;
  border-width: 3px;
  width: 100%;
  border-style: solid;
}

#email {
  margin: auto;
  display: block;
  text-align: center;
  padding: 2em;
  width: inherit;
  height: 5px;
}

#hidden_email1 {
  margin: auto;
  display: block;
  text-align: center;
  padding: 2em;
  width: inherit;
  height: 5px;
}

#hidden_email2 {
  margin: auto;
  display: block;
  text-align: center;
  padding: 2em;
  width: inherit;
  height: 5px;
}

#hidden { 
  display: none;
  background-color: #c7fded;
  border: black;
  border-width: 3px;
  border-style: solid;
}

.details {
  background-color: #8bc9b6;
  border: black;
  border-width: 3px;
  border-style: solid;
}

.why {
  background-color: #bee4d8;
}

/*
  Tablet Style
*/
@media screen and (min-width:900px){
  
  .logo_2{
    visibility: hidden;
    background-image: url(../media/8bit_pyramid.png);  
    background-position: center;
    background-clip: content-box;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .info {
    display: grid;
    grid-template-columns: 30% 60%;
    grid-template-rows: auto;
    grid-template-areas: 
    "logo1 title"
    "banking tagline";
  }


  .logo_1 {
  grid-area: logo1;
  background-color: #6a8f84;
  }

  .title {
   padding-right: 10px;
   grid-area: title;
   background-color: #6a8f84;
  }

  .banking {
    visibility: visible;
    grid-area: banking;
    color: white;
  background-color: #02030373;
  }

  .tagline{
   visibility: visible;
   grid-area: tagline;
    color: white;
   background-color: #02030373;
  }


}

/*
  Desktop Style
*/
@media screen and ((min-width: 992px)) {

  .logo_2{
    visibility: hidden;
    background-image: url(../media/8bit_pyramid.png);  
    background-position: center;
    background-clip: content-box;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .info {
    width: 100%;
    padding: .1em;
    display: grid;
    grid-template-columns: 30% 60%;
    grid-template-rows: auto;
    grid-template-areas: 
      "logo1 title"
      "banking tagline";
  }


  .logo_1 {
  grid-area: logo1;
  background-color: #6a8f84;
  }

  .title {
    
    grid-area: title;
    background-color: #6a8f84;
  }

  .banking {
    visibility: visible;
    grid-area: banking;
    color: white;
    background-color: #02030373;
  }

  .tagline{
    visibility: visible;
    grid-area: tagline;
    color: white;
    background-color: #02030373;
  }



  body {
    width: 90%;
    padding: 1.2em;
    background-color: #496b61;
    margin: auto;
    text-align: center;
  }

  h1{
    border: black;
    padding: .2em;
    border-width: 4px;
    border-style: solid;
    text-align: center;
    font-size: 6em;
    font-family: Pixles;
    font-weight: 200;
    line-height: 1.5em;
  }

  h2{
    padding: 1em;
    text-align: center;
    font-size: 1em;
    font-family: Pixles;
    font-weight: 50;
    display: inline;
  }

  h3{
    
    padding: 2.5em;
    padding-top: 1em;
    padding-bottom: .5em;
    text-align: center;
    font-size: 1.5em;
    font-family: Pixles;
    font-weight: 50;
    display: flow-root;
  }

  label{
    font-family: 'Times New Roman', Times, serif;
  }

  #pyramid_logo {
    display: inline;
  }


  .submit {
    background-image: url(../media/eye_submit.png);  
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    background-size: contain;
  }


  #form_box {
    padding: .1em;
    background-color: #c9998b;
    border: black;
    border-width: 3px;
    border-style: solid;
  }

  #hidden {
    display: none;
    background-color: #fde7c7;
    border: black;
    border-width: 3px;
    border-style: solid;
  }

  #submit_button{
    padding: 1em;
  }



}